.banner {
    /* background: var(--color-secondary); */
    background-image: url(../../assets/image/background-banner.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 880px;
    border-radius: 0 0 500px 0;
}

.banner-wrapper {
    display: flex;
    gap: 58px;
    align-items: center;
    padding-top: 162px;
}

.banner-content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    flex: 1;
}

.banner-title {
    font-size: var(--font-size-3xl);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-3xl);
    color: var(--color-white);
}

.btn-group {
    display: flex;
    gap: 24px;
}

.btn-primary:last-child {
    background: transparent;
    color: var(--color-primary);
}

.btn-primary:last-child:hover {
    background: var(--color-primary);
    color: var(--color-white);
}

.dot-group {
    display: flex;
    gap: 16px;
    align-items: center;
    transition: 0.5s all ease;
}

.dot:hover{
    width: 24px;
    height: 24px;
    background: var(--color-Wild-Sand);
}

.banner-imgwrapper {
    width: 490px;
}

.banner-img {
    width: 100%;
    height: 640px;
}