.blog {
    margin-top: 104px;
}

/* features  */

.features {
    margin-bottom: 104px;
}

.features-frame {
    display: flex;
    gap: 24px;
}

.company:first-child, .company:last-child{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.company-row {
    display: flex;
    gap: 24px;
}

/* ----------------------------------------------- */

.gallery {
    margin-top: 104px;
}

.gallery-photo, .photo {
    display: flex;
    gap: 24px;
}

.photo {
    flex-direction: column;
}

